{{ define "index" }}

{{ template "header" }}
<main role="main" class="inner cover">
    <h1 class="cover-heading">Главная страница.</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, provident. Quam nam quae velit reprehenderit praesentium veritatis, 
        vero molestias officia et tenetur tempore beatae, obcaecati magnam incidunt dolores perspiciatis sint.</p>

    <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Узнать больше</a>
    </p>
</main>

{{ template "footer" }}

{{ end }}
